body{
  background-color: rgb(255, 255, 255);
}
.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  width: 100vw;
  height: 92vh;
}
.info{
  grid-column: 1/3;
  grid-row: 1;
}
.people{
  grid-column: 1;
  grid-row: 2/4;
}
.bulb{
  grid-column: 2;
  grid-row: 2/4;
}
#lightbulb{
  height: 20rem;
}
#people-image{
  height: 20rem;
}